[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
unicorn = "*"
yfinance = "*"
matplotlib = "*"
beautifulsoup4 = "*"
bs4 = "*"
keras = "*"

[dev-packages]

[requires]
python_version = "3.9"
